* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #3a3d47;
    font-family: open sans;
    max-height: 100%;
    max-width: 100%;
}

.contenedor {
    padding: 60 px 0;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

.titulo {
    color: #2a7373;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
    padding: 40px;
}

.about-us {
    text-decoration: solid;
    font-style: italic;
    color: rgb(54, 108, 190);
    padding: 15px;
}

.container {
    background: white;
    margin: 10px auto;
}

.superior {
    background: #1551a1;
    overflow: hidden;
}

.logo {
    float: left;
    width: 300px;
}


/* estilos para el menu de opciones*/

.menu {
    float: left;
    padding: 40px 50px 0 0;
    text-align: right;
}

.opcion li {
    color: aliceblue;
    float: left;
    list-style: none;
}

.opcion li a {
    color: rgb(235, 228, 228);
    text-decoration: none;
    margin-right: 10px;
    padding: 25px;
    border: 1px solid width;
    font-family: open sans;
    font-size: 25px;
    font-style: inherit;
    font-weight: bold;
    text-align: right;
}

.opcion li a:hover {
    background: #4d8bd6;
}

.contenedor-sobre-nosotros {
    display: flex;
    justify-content: space-evenly;
}

.ab-out {
    width: 40%;
}

.sobre-nosotros .contenido-textos {
    width: 50%;
    font-family: open sans;
    font-size: 23px;
}

.contenido-textos h3 {
    margin-bottom: 15px;
}

.contenido-textos h3 span {
    background: #080686;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p {
    padding: 0 0 30px 15px;
    font-weight: 300;
    text-align: justify;
}

.portafolio {
    background-color: #f2f2f2;
}

.galeria-portafolios {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-portafolios {
    width: 24%;
    margin-bottom: 10px;
}

.botton:hover {
    background: black;
    cursor: pointer;
    transform: translateX(8px);
}

.botones {
    text-align: left;
}

.div-icon-hover {
    color: #080686;
    text-decoration: solid;
}