* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    background-image: url(../img/contact-fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/* Navar css */

.header{
    background: rgba(0, 30, 128, 0.342);
    width: 100%;
    height: 100px;
    top: 0;left: 0;
  }
  .container{
    width: 85%;
    max-width: 1200px;
    margin: auto;
  }
  .container .btn-menu, .logo{
    float: left;
    line-height:100px;
  }
  .container .btn-menu{
    font-size: 40px;
    cursor: pointer;
  }
  .logo h1 img{
    font-weight: 400;
    font-size: 25px;
    margin-top: 25px;
    margin-left: 10px;
  }
  .container .menu{
    float: right;
    line-height: 100px;
  }
  .container .menu a{
    display: inline-block;
    padding: 15px;
    line-height: normal;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    font-size: 20px;
    margin-right: 5px;
  }
  .container .menu .a{
    border-bottom: 2px solid #c7c7c7;
    padding-bottom: 5p
  }
  
  .container .menu a:hover{
    border-bottom: 2px solid #c7c7c7;
    padding-bottom: 5px;
  }


/*Inicio EStilos de Formulario de Contacto*/
.Container {
    margin: 0 auto;
    display: flex;
    margin-top: 5rem;
    margin-bottom: 5rem;
    height: 33rem;
    width: 70%;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px rgb(10, 1, 138);
  }
  
  .Letters,
  .Formulario {
    margin: auto;
    background-color: #5f882a00;
    height: 25rem;
    width: 40%;
    margin-top: 2rem;
    
  }
  
  .text {
    margin-top: 1em;
    font-size: 30px;
    color: white;
    font-style: oblique;
    text-align: center;
  }
  
  .p1 {
    font-size: 18px;
    color: white;
    margin-top: 1rem;
    text-align: justify;
  }
  
  .Fadej {
    font-size: 4em;
    color: white;
    text-align: center;
  }
  
  .Fades {
    font-size: 1em;
    color: white;
    text-align: center;
    letter-spacing: 1em;
  }
  
  body {
    font-size: 16px;
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  input,
  textarea,
  button {
    margin-top: 0.5rem;
    margin-left: 3%;
    width: 90%;
    height: 2rem;
    padding: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.2rem;
  }
  
  
  input:hover {
    background: linear-gradient(to right, #9994b1, #bdbaba);
  }
  
  button {
    margin-left: 5%;
    background-color: #007bff;
    color: #fff;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    height: 3rem;
  }
  
  button:hover {
    background-color: #0069d9;
  }
  
  button:active {
    background-color: #005cbf;
  }

  /*Fin estilos de Formulario de Contacto*/
  


/*estilos footer*/

.pie {
    background: #062348;
    overflow: hidden;
}

.izquierda {
    float: left;
    width: 550px;
    padding: 20px;
}

.abajo {
    color: white;
    font-family: arial;
    font-size: 16px;
    padding: 10px;
}

.derecha {
    color: white;
    float: left;
    width: 550px;
    padding: 20px;
}

.siguenos {
    text-align: left;
    color: white;
    padding: 15px 0;
}

.otra {
    color: white;
    padding: 15px 0;
}

.contacto {
    color-interpolation-filters: auto;
    color: white;
    padding: 15px 0;
}

.Copyright {
    float: left;
    width: 100%;
    padding: 20px;
    background-color: #144E8C;
    overflow: hidden;
    text-align: center;
}

.texto {
    color: white;
}

a {
    color: white;
    text-decoration: none;
}