* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
}

.fondo {
    background-image: url(../img/contact-fondo.jpg);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    height: 10%;
    width: 100%;
    background-position: 0px;
}

/*stilos de formulario*/

.Forma {
    border: 1px solid top white;
    margin-top: 100px;
    border-radius: 5px;
    margin-bottom: 100px;
    background: #0f0f3f00;
    height: 600px;
    width: 400px;
    margin-left: 750px;

}

.Form1 {
    height: 600px;
    width: 950px;
    background-color: rgba(35, 107, 112, 0.753);
    margin-bottom: -44em;
    margin-top: 100px;
    margin-left: 15%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 0 30px #000000;
}

.Busito {
    margin-left: 150px;

}

.Busito p {
    padding: 0 0 30px 30px;
    font-weight: 300;
    text-align: justify;
}

#Fadej {
    font-size: 4em;
    color: white;
    text-align: center;
}

#Fadejr {
    font-size: 1em;
    color: white;
    text-align: center;
    letter-spacing: 1em;
}

.tex {
    margin-top: 2em;
    color: white;
    margin-left: -2em;
}

#id {
    color: white;
    margin-left: -2em;
}

#h4 {
    color: white;
    margin-left: -5em;
    font-size: 1em;
}

#h3 {
    color: white;
    margin-left: -5em;
    font-size: 1em;
}

.Campos {
    border: 2px solid rgb(76, 168, 140);
    margin-top: 4px;
    border-radius: 5px;
    margin-left: 50px;
    padding-left: 20px;
    height: 50px;
    width: 300px;
    background: #ffffffe6;
    margin-bottom: 3px;
}

#input {

    /*Este la da estilo a pasarle cursor*/
    border: 0px solid rgba(0, 0, 255, 0);
}

#btn {
    color: white;
    border: solid 2px white;
    margin-top: 10px;
    border-radius: 10px;
    width: 300px;
    height: 50px;
    margin-left: 50px;
    text-rendering: 5px;
    background: rgb(76, 168, 140);
    transition: 00.5s;
}

#btn:hover {
    color: black;
    background: white;
    cursor: pointer;
}

#mensaje {
    border: 2px solid rgb(76, 168, 140);
    margin-top: 10px;
    border-radius: 5px;
    margin-left: 50px;
    padding-left: 20px;
    height: 70px;
    width: 300px;
    background: #ffffffe6;
    margin-bottom: 3px;
}