* {
    margin: 0;
    padding: 0;
  }
body {
    font-family: sans-serif;
    background-image: url(../img/puerto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
  /* Navar css */
.superior {
    padding: 0%;
  }
  
  .menu {
    background: rgba(12, 18, 105, 0.404);
    position: sticky;
    padding: 0px;
  }
  
  .opcion li {
    padding: 20px;
    float: right;
    text-align: right;
    list-style: none;
  }
  .opcion li:hover{
    color: black;
    border-radius: 50px;
  }
  
  .opcion li a {
    text-align: center;
    color: white;
    text-decoration: none;
  }
  
  .opcion li a:hover {
    color: rgb(0, 0, 0);
    text-align: right;
  }
  .logo {
    padding: 0px;
    float: left;
  }
  /* Navar css */