* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background: #acc9ee;
}

/* navar */
.header{
  background: rgba(0, 30, 128, 0.342);
  width: 100%;
  height: 100px;
  top: 0;left: 0;
}
.container{
  width: 85%;
  max-width: 1200px;
  margin: auto;
}
.container .btn-menu, .logo{
  float: left;
  line-height:100px;
}
.container .btn-menu{
  font-size: 40px;
  cursor: pointer;
}
.logo h1 img{
  font-weight: 400;
  font-size: 25px;
  margin-top: 25px;
  margin-left: 10px;
}
.container .menu{
  float: right;
  line-height: 100px;
}
.container .menu a{
  display: inline-block;
  padding: 15px;
  line-height: normal;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
  border-bottom: 2px solid transparent;
  font-size: 20px;
  margin-right: 5px;
}
.container .menu .a{
  border-bottom: 2px solid #c7c7c7;
  padding-bottom: 5p
}

.container .menu a:hover{
  border-bottom: 2px solid #c7c7c7;
  padding-bottom: 5px;
}
/* navar */
/* ----------------------- */
/* BANER */
.banner {
  position: relative;
  background-image: url(../img/banner2.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}

.inicio {
  background-color: rgba(0, 0, 0, 0.473);
  padding: 0%;
}

.banner .bg {
  width: 100%;
  padding-top: 70px;
}
.banner .bg img {
  display: block;
  margin: 20px auto;
}

.banner .text {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 10%;
  font-size: 25px;
  transform: translate(-10%, -50%);
  width: 40%;
  text-align: left;
}
.banner .text button{
  margin-top: 40px;
  transition: 00.3s;
  padding: 10px;
  background: #1004bd9a;
  border: none;
  border-radius: 5px;
  color: white;
}
.banner .text button:hover{
  background: rgb(174, 143, 214);
  color: black;
  cursor: pointer;
}
.wave {
  padding-top: 50px;
  height: 100px;
  overflow: hidden;
}

path {
  stroke: none;
  fill: #acc9ee;
  --darkreader-inline-stroke: none;
  --darkreader-inline-fill: #33a6ff
}
svg{
  height: 100%; 
  width: 100%;
}

.field {
  padding-top: 3%;
  padding-left: 60%;
  display: flex;
  padding-inline-end: 20px;
  margin: 100px;
}

.field input,
.field button {

  display: block;
  font: 1.2em 'Sans serif';
  border-radius: 5px;
  background: white;
  transition: 0.4s;
}
.field input {
  border: 3px solid rgba(61, 26, 188, 0.397);
  font: 1.2em 'Sans serif';
  color: black;
  padding-left: 50px;
  border-radius: 10px;
}
.field input:focus{
  border: 3px solid blue;
  border-color: rgb(0, 4, 255);
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgba(0, 183, 255, 0.6);
  outline: 0 none;
}

.field button {
  cursor: pointer;
  padding: 17px;
  background: rgba(61, 26, 188, 0.397);
  color: white;
  border: solid rgba(61, 26, 188, 0.397);
  border-radius: 10px;
}

.field button:hover {
  background-color: white;
  color: black;
  border:solid rgba(61, 26, 188, 0.397);
}
/* BANER */
/* --------------------------------- */
.bus{
  padding-left: 30px;
  padding-top: -1px;
  width: 600px; 
  padding: 20px;
  float: right;
  list-style: none;
}
.options{
  margin: auto;
  padding: 80px;
}
.tex{
  margin-left: 20px;
  padding-top: 200px;
  font-size: 25px;
}
.end{
  padding-left: 27%;
  text-align: center; 
  padding-top: 200px;
  font-size: 30px;
  margin: 20px;
}
.end  li{
  margin: 3px;
  border-radius: 10px;
  float: left;
  transition: 0.5s;
  width: 150px;
  height: auto;
  padding: 15px;
  list-style: none;
  background: yellow;
}
.end li:hover{
  background: yellowgreen;
  cursor: pointer;
}
.end li a{
  text-align: center;
  color: rgb(0, 0, 0);
  text-decoration: none;
}
/* footer */
.pie{
  background: #062348;
  overflow: hidden;
}
.izquierda {
  float: left;
  width: 550px;
  padding: 20px;
}
.abajo {
  color: white;
  font-family: arial;
  font-size: 16px;
  padding: 10px;
}
.derecha {
  color: white;
  float: left;
  width: 550px;
  padding: 20px;
}
.siguenos {
  text-align: left;
  color: white;
  padding: 15px 0;
}
.otra {
  color: white;
  padding: 15px 0;
}
.contacto {
  color-interpolation-filters: auto;
  color: white;
  padding: 15px 0;
}
.Copyright {
  float: left;
  width: 100%;
  padding: 20px;
  background-color: #144E8C;  
  overflow: hidden;
  text-align: center;
}
.texto {
  color: white;
}
a {
  color: white;
  text-decoration: none;
}
/* somos fadej */
/* ------------- */
/* Responsive */
@media screen and (max-width: 768px){
  .banner .text {
    color: rgb(221, 46, 46);
    position: center;
    top: 35%;
    left: 10%;
    transform: translate(-10%, -50%);
    width: 50%;
    text-align: left;
  }
}

/* Responsive */
