* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

body {
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

:root {
    font-size: 16px;
}

main {
    width: 100%;
    padding: 1.25rem;
    margin: auto;
    margin-top: 6.25rem;
}

.contenedor__todo {
    width: 100%;
    max-width: 50rem;
    margin: auto;
    position: relative;
}

.caja_trasera {
    width: 100%;
    padding: 0.625rem 1.25rem;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(0.625rem);
    background-color: rgba(0, 255, 200, 0.267);
    border-radius: 1.25rem;
}

.caja_trasera div {
    margin: 6.25rem 2.5rem;
    color: white;
    transition: all 0.5s;
}

.caja_trasera div p,
.caja_trasera div button {
    margin-top: 1.875rem;
}

.caja_trasera div h3 {
    font-weight: 400;
    font-size: 1.625rem;
}

.caja_trasera button {
    padding: 0.625rem 2.5rem;
    border: 0.125rem solid #fff;
    background-color: transparent;
    font-size: 0.875rem;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 0.3s;
}

.caja_trasera button:hover {
    background: white;
    color: #46a2fd;
}

.container__login-register {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 23.75rem;
    position: relative;
    top: -11.5625rem;
    left: 0.625rem;
}

/* Formularios */

.container__login-register form {
    width: 100%;
    padding: 5rem 1.25rem;
    background: #fff;
    position: absolute;
    border-radius: 1.25rem;
}

.container__login-register form h2 {
    font-size: 1.875rem;
    text-align: center;
    margin-bottom: 1.25rem;
    color: #46a2fd;
}

.container__login-register form input {
    width: 100%;
    margin-top: 1.25rem;
    padding: 0.625rem;
    border: none;
    background: #F2F2F2;
    font-size: 1rem;
    outline: none;
}

.container__login-register form button {
    padding: 0.625rem 2.5rem;
    margin-top: 2.5rem;
    border: none;
    font-size: 0.875rem;
    background: #46a2fd;
    color: white;
    cursor: pointer;
    outline: none;
}

.form-login {
    opacity: 1;
    display: none;
}

.form_Register {
    display: block;
}

.circle .avatar {
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
    position: absolute;
    top: -3.125rem;
    left: calc(50% - 3.125rem);
}


@media screen and (max-width: 53.125rem) {
    main {
        margin-top: 3.125rem;
    }

    .caja_trasera {
        max-width: 21.875rem;
        height: 18.75rem;
        flex-direction: column;
        margin: auto;
    }

    .caja_trasera div {
        margin: 0;
        position: absolute;
    }

    .container__login-register {
        top: -0.625rem;
        left: -0.3125rem;
        margin: auto;
    }

    .container__login-register form {
        position: relative;
    }
}