/* Estilos generales del navbar */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.containner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

/* Estilos de los enlaces del menú */
.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li a {
    font-size: 18px;
    font-weight: 500;
    color: #333;
    text-decoration: none;
    padding: 10px;
    transition: all 0.3s ease;
}

.nav-links li a:hover {
    color: #000;
    background-color: #f2f2f2;
    border-radius: 5px;
}

/* Estilos del botón del menú */
.burger {
    display: none;
    cursor: pointer;
}

.burger .line {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 5px;
    transition: all 0.3s ease;
}